.navbar {
  height: 6.7rem;
  display: flex;
  justify-content: center;
  background-color: #181e2e;
  position: relative;
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container-mobile, .navbar-container-desktop {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.navbar-title-mobile, .navbar-title-desktop, .navbar-about {
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
}

.navbar-about {
  font-size: 2rem;
  margin-left: auto;
}

.navbar-title-desktop {
  font-size: 2.6rem;
}

.search-container-desktop {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 5%;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.wide {
  width: 35%;
}

.slide-pannel {
  position: absolute;
  background-color: #181e2e;
  top: 0;
  height: 100vh;
  left: -100%;
  width: 0;
  padding: 2rem 3rem;
  border-right: 1px solid #fff;
  transition: all 800ms ease;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
}

.pannel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex: 1;
}

.slide-pannel.active {
  left: 0;
  width: 90%;
}

.action-pane {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.about-panel {
  margin: 2rem auto;
  font-size: 2.2rem;
  font-weight: 900;
}

.about-info {
  display: flex;
  flex-direction: column;
  background-color: rgba(188, 198, 226, 0.1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.about-info p {
  font-size: 1.6rem;
}

.about-info em {
  font-size: 2rem;
  font-weight: 900;
}

.about-info span {
  font-size: 2.4rem;
}

.links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 6rem;
}

@media screen and (min-width: 961px) {
  .pannel-wrap {
    width: 50%;
    margin: 5rem auto;
  }
  .about-info p {
    font-size: 1.8rem;
  }
  .about-info em {
    font-size: 2.2rem;
    font-weight: 900;
  }
  .links-container {
    margin-top: 5rem;
    width: 50%;
  }
}