.navbar {
  height: 6.7rem;
  display: flex;
  justify-content: center;
}

.navbar-container-mobile,
.navbar-container-desktop {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.navbar-title-mobile,
.navbar-title-desktop,
.navbar-about {
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
}

.navbar-about {
  font-size: 2rem;
  margin-left: auto;
}

.navbar-title-desktop {
  font-size: 2.6rem;
}

.search-container-desktop {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 5%;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.wide {
  width: 35%;
}
