form {
    width: auto;
    margin: auto;
    padding: 0 2rem;
}

input {
    color: #fff;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: bold;
}

.search-input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    width: 0%;
}

.search-input:focus {
    outline: none;
}

.search-input.active {
    width: 100%;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}