@import '~@sweetalert2/theme-wordpress-admin/wordpress-admin.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #181e2e transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #181e2e;
  border-radius: 20px;
  border: 3px transparent;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  position: relative;
}

body {
  background: #181e2e;
  color: #fff;
}

.swal2-container {
  font-size: 1rem;
}

.shadowed-text {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bolded {
  font-weight: 700;
}

.container {
  max-width: 150rem;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.spaced {
  padding: 0 0.2rem 0 1.5rem;
}

.w-0 {
  width: 0;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-start {
  text-align: justify;
}

.pointer {
  cursor: pointer;
}

.main-content {
  padding: 1.5rem;
}

.luminosity {
  mix-blend-mode: luminosity;
}

.f-50-10 {
  flex-basis: calc(50% - 1.5rem);
}

.w-50r {
  width: 5rem;
}

.f-wrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.text-danger {
  color: #dc3545;
}

.text-success {
  color: #28a745;
}
